@use "@/styles/_dynamicrules.scss" as *;

.document-loading-static {
    height: var(--body-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-doc-loadingCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    font-size: 90px;
    color: var(--blue-two);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.markdown-body {
    width: calc(100% - 70px);
    max-width: 1000px;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
    margin: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
:fullscreen .markdown-body {
    min-width: 0px;
    max-width: none;
}

.pdf-doc-mohit-container {
    height: fit-content;
    width: 100%;
    min-height: calc(var(--body-height) - 100px);
    padding-top: 20px;
    padding-bottom: 80px;
    z-index: 10;
    position: relative;
}
:fullscreen .pdf-doc-mohit-container {
    padding-bottom: 0px;
}

.pdf-page-innerContainer {
    scroll-margin-top: apply-zoom-factor(67);
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 0px auto;
}

.mohit-pdf-linkAnnotation {
    @at-root #{chain-selector(&, 4)} {
        position: absolute;
        cursor: pointer;
        opacity: 0.25;
        border-radius: 2px;
        right: auto;
        bottom: auto;
        transition: background-color 0.2s;
    }
}
.mohit-pdf-linkAnnotation:hover {
    @at-root #{chain-selector(&, 4)} {
        background-color: rgb(0, 110, 255);
    }
}

.mohit-rendered-pdf {
    position: relative;
    width: var(--mohit-custom-pdf-width);
    height: var(--mohit-custom-pdf-height);
    margin: 0px auto;
    scroll-margin-top: apply-zoom-factor(70);
}
.mohit-rendered-pdf.multi-page {
    margin-bottom: 20px;
}

.mohit-rendered-pdf .annotationLayer {
    width: 100% !important;
    height: 100% !important;
}

.mohit-rendered-pdf .textLayer {
    color-scheme: only light;
    position: absolute;
    text-align: initial;
    inset: 0;
    overflow: clip;
    opacity: 1;
    line-height: 1;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    caret-color: CanvasText;
    z-index: 0;
    --min-font-size: 1;
    --text-scale-factor: calc(var(--total-scale-factor) * var(--min-font-size));
    --min-font-size-inv: calc(1 / var(--min-font-size));
}
.mohit-rendered-pdf .textLayer ::selection {
    background: #0000ff40 !important;
    color: transparent !important;
}

#resume-container:fullscreen .pdf-doc-mohit-container {
    min-height: calc(100% - 100px);
}
.markdown-body h1, .markdown-body p, .markdown-body li {
    color: black !important;
    font-family: 'Roboto', sans-serif;
}
.markdown-body a {
    color: #517ac7;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

.markdown-body h1 {
    font-size: 27px;
}
.markdown-body ul {
    margin-top: 0px;
}

.resume-markdown-title {
    font-size: 40px !important;
}
.resume-markdown-mainLinks, .resume-markdown-mainSummary {
    margin-bottom: 20px;
}
.resume-markdown-mainSummary p {
    font-style: italic;
}

.resume-markdown-subHeader {
    margin-bottom: 5px;
}
.resume-markdown-section-title a {
    text-decoration: none;
    color: black;
    transition: text-shadow 0.2s;
}
.resume-markdown-section-title a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.resume-markdown-section-subtitle a {
    text-decoration: none;
    color: black;
    transition: text-shadow 0.2s;
}
.resume-markdown-section-subtitle a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.mohit-document-topBar {
    width: var(--mohit-custom-pdf-width, calc(100% - 70px));
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background-color: rgb(28, 28, 28);
    border-radius: 5px;
    margin: 0px auto 10px auto;
}
.mohit-document-topBar-sideSection {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    gap: 5px;
}

.mohit-document-topBar.markdown {
    width: calc(100% - 40px);
    max-width: 1030px;
}
:fullscreen .mohit-document-topBar.markdown {
    max-width: none;
}

.mohit-document-topBar button, .mohit-document-topBar a {
    color: var(--website-light-text);
    border: 1px solid var(--website-light-text);
    border-radius: 7px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, background-color 0.2s;
}
.mohit-document-topBar button:hover, .mohit-document-topBar a:hover {
    scale: 1.1;
    background-color: rgba(255, 255, 255, 0.15);
}

.mohit-document-topBar button.flame, .mohit-document-topBar a.flame {
    color: var(--vibrant-flame);
    border-color: var(--vibrant-flame);
}
.mohit-document-topBar button.white, .mohit-document-topBar a.white {
    color: white;
    border-color: white;
}

.mohit-document-topBar .doc-save-opt:nth-last-of-type(even) {
    color: var(--blue-one);
    border-color: var(--blue-one);
}
.mohit-document-topBar .doc-save-opt:nth-last-of-type(odd) {
    color: var(--blue-three);
    border-color: var(--blue-three);
}

.pdf-doc-linkBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(225, 225, 225);
    height: 40px;
    width: 40px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--website-light-text);
    border: 2px solid;
    border-radius: 15px;
    font-size: 22px;
    overflow: hidden;
    transition: box-shadow 0.2s, scale 0.2s;
}
.pdf-doc-linkBtn:hover {
    box-shadow: 0px 0px 10px 1px;
    scale: 1.1;
}

@include dynamic-less-equal-width-rule(850) {
    .markdown-body h1 { font-size: 20px; }
    .markdown-body p, .markdown-body li { font-size: 13px; }
}
@include dynamic-less-equal-width-rule(600) {
    .markdown-body h1 { font-size: 17px; }
    .markdown-body p, .markdown-body li { font-size: 11px; }

    .pdf-doc-linkBtn {
        width: 25px;
        height: 25px;
        font-size: 16px;
        border-radius: 8px;
    }
}