.newCard-container {
    width: 100%;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animate__slowLess {
    --animate-duration: 1.5s !important;
}

.nav-newCard {
    cursor: pointer;
    text-decoration: none;
    width: 330px;
    min-width: 290px;
    max-width: 400px;
    height: fit-content;
    border: 3px solid var(--nav-bar-border);
    border-radius: 20px;
    transition: var(--default-transition);
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
    --animate-duration: 1s
}
.nav-newCard:hover {
    box-shadow: 0px 0px 20px 2px black;
}

.nav-newCard-header {
    width: 100%;
    height: 73px;
    border-bottom: 2px solid var(--nav-bar-border);
    transition: var(--default-transition);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-newCard-header-text {
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
}
.nav-newCard-header svg {
    font-size: 55px;
}

.nav-newCard-picture {
    width: 100%;
    height: 150px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-newCard-picture img {
    border-radius: 2px;
    user-select: none;
}

.newCard-devStack {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: inherit;
    padding-bottom: 10px;
    gap: 10px;
}
.newCard-devStack-title {
    font-size: 32px;
    font-family: 'Lexend', sans-serif;
    border-bottom: 1px solid;
}

.newCard-module {
    width: 90%;
    height: 25px;
    border: 2px dotted;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
}

.newCard-module img {
    height: 18px;
    user-select: none;
    margin-left: 10px;
}
.newCard-module span {
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Lexend', sans-serif;
}

.newCard-module svg {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.newCard-module svg.web-dev {
    height: 20px;
    color: #E34E26;
}

.nav-newCard-desc {
    width: calc(100% - 14px);
    height: 110px;
    padding: 5px 7px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: inherit;
    border-top: var(--empty-border);
    text-shadow: 0px 0px 0px;
}
.nav-newCard-personalText {
    padding: 10px 20px;
    border: 3px dashed white;
    border-radius: 20px;
}

.nav-newCard#wiv-nav-newCard {
    border-color: #48A548;
    color: #48A548;
    background-color: rgba(41, 46, 56, 0.95);
}
.nav-newCard#wiv-nav-newCard .nav-newCard-header {
    border-color: #48A548;
    background: transparent;
}
.nav-newCard#wiv-nav-newCard .nav-newCard-desc {
    border-color: #48A548;
}

.nav-newCard#wiv-nav-newCard:hover {
    border-color: #0872BA;
    color: #0872BA;
}
.nav-newCard#wiv-nav-newCard:hover .nav-newCard-header {
    border-color: #0872BA;
}
.nav-newCard#wiv-nav-newCard:hover .nav-newCard-desc {
    border-color: #0872BA;
}

.nav-newCard#ivue-nav-newCard {
    border-color: rgb(70, 70, 70);
    color: rgb(70, 70, 70);
    background-color: white;
}
.nav-newCard#ivue-nav-newCard .nav-newCard-header {
    border-color: rgb(70, 70, 70);
    background: transparent;
}
.nav-newCard#ivue-nav-newCard .nav-newCard-desc {
    border-color: rgb(70, 70, 70);
}

.nav-newCard#ivue-nav-newCard:hover {
    border-color: black;
    color: black;
}
.nav-newCard#ivue-nav-newCard:hover .nav-newCard-header {
    border-color: black;
}
.nav-newCard#ivue-nav-newCard:hover .nav-newCard-desc {
    border-color: black;
}

.nav-newCard#sublo-nav-newCard {
    border-color: #d1efff;
    color: #d1efff;
    background-color: #031427;
}
.nav-newCard#sublo-nav-newCard .nav-newCard-header {
    border-color: #d1efff;
}
.nav-newCard#sublo-nav-newCard .nav-newCard-desc {
    border-color: #d1efff;
}
.nav-newCard#sublo-nav-newCard .newCard-module {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-newCard#sublo-nav-newCard:hover {
    border-color: #36A1D9;
    color: #36A1D9;
}
.nav-newCard#sublo-nav-newCard:hover .nav-newCard-header {
    border-color: #36A1D9;
}
.nav-newCard#sublo-nav-newCard:hover .nav-newCard-desc {
    border-color: #36A1D9;
}

.nav-newCard#mnd-nav-newCard {
    border-color: white;
    color: white;
    background-color: #008080;
}
.nav-newCard#mnd-nav-newCard .nav-newCard-header {
    border-color: white;
}
.nav-newCard#mnd-nav-newCard .nav-newCard-desc {
    border-color: white;
}
.nav-newCard#mnd-nav-newCard:hover {   
    background-color: #8B4513;
}

.nav-newCard#tictactoe-nav-newCard {
    border-color: white;
    color: white;
    background-color: var(--globe-green-opaque);
}
.nav-newCard#tictactoe-nav-newCard .nav-newCard-header {
    border-color: white;
}
.nav-newCard#tictactoe-nav-newCard .nav-newCard-desc {
    border-color: white;
}
.nav-newCard#tictactoe-nav-newCard:hover {   
    background-color: #073b38;
}

.nav-newCard#globe-nav-newCard {
    border-color: white;
    color: white;
    background-color: var(--globe-green-opaque);
}
.nav-newCard#globe-nav-newCard .nav-newCard-header {
    border-color: white;
}
.nav-newCard#globe-nav-newCard .nav-newCard-desc {
    border-color: white;
}

.nav-newCard#globe-nav-newCard:hover {   
    color: var(--blue-cobalt);
    border-color: var(--blue-cobalt);
}
.nav-newCard#globe-nav-newCard:hover .nav-newCard-header {
    border-color: var(--blue-cobalt);
}
.nav-newCard#globe-nav-newCard:hover .nav-newCard-desc {
    border-color: var(--blue-cobalt);
}

.nav-newCard#pizza-nav-newCard {
    border-color: #8B0000;
    color: #8B0000;
    background-color: #F5F5DC;
}
.nav-newCard#pizza-nav-newCard .nav-newCard-header {
    border-color: #8B0000;
}
.nav-newCard#pizza-nav-newCard .nav-newCard-desc {
    border-color: #8B0000;
}

.nav-newCard#pizza-nav-newCard:hover {   
    background-color: #4B2E1A;
    color: #F5F5DC;
    border-color: #F5F5DC;
}
.nav-newCard#pizza-nav-newCard:hover .nav-newCard-header {
    border-color: #F5F5DC;
}
.nav-newCard#pizza-nav-newCard:hover .nav-newCard-desc {
    border-color: #F5F5DC;
}

@media (max-width: 1099px) and (min-width: 651px) {
    #third-nav-card {
        position: relative;
        left: 50%;
    }
}
@media (max-width: 400px) {
    .nav-newCard { width: 315px; }
}