@use "@/styles/_dynamicrules.scss" as *;

/**
 * This section defines the styles for the navigation bar at the top of every page.
 */

#mohit-navBar {
    all: unset;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 490;
    border-bottom: 2px solid var(--website-text);
    overflow: hidden;
    transition: box-shadow 0.5s;
    touch-action: pan-y;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mohit-main-progressBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 2px;
    overflow: hidden;
}
.mohit-main-progressBar > .inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, white 0%, var(--vibrant-flame) 100%);
}

.mohit-navBar-top {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.mohit-navBar-banner {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, box-shadow 0.2s;
    border-radius: 7px;
}

.mohit-navBar-banner img {
    user-select: none;
    width: 35px;
}
.mohit-navBar-banner:hover {
    scale: 1.05;
    box-shadow: 0px 0px 7px 0px white;
}

.mohit-navBar-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.mohit-navBar-icons.left {
    margin-left: 10px;
}
.mohit-navBar-icons.right {
    margin-right: 10px;
}

.mohit-navBar-icon {
    cursor: pointer;
    width: 34px;
    height: 34px;
    color: var(--website-text);
    border: 1px solid var(--website-text);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}
.mohit-navBar-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mohit-navBar-icon.light {
    color: var(--website-light-text);
    border-color: var(--website-light-text);
}
.mohit-navBar-icon.white {
    color: white;
    border-color: white;
}
.mohit-navBar-icon.red {
    color: red;
    border-color: red;
}
.mohit-navBar-icon img {
    user-select: none;
    width: 23px
}

.mohit-navBar-mainLinks {
    position: absolute;
    top: 0px;
    left: calc(50% - 180px);
    width: 360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.mohit-navBar-status-icons {
    position: fixed;
    top: 50px;
    left: 0px;
    width: fit-content;
    padding: 6px 10px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    background-color: black;
    z-index: 491;
    border-right: 2px solid var(--website-text);
    border-bottom: 2px solid var(--website-text);
    border-bottom-right-radius: 5px;
}
.mohit-navBar-status-icons.right {
    left: auto;
    right: 0px;
    border-right: none;
    border-left: 2px solid var(--website-text);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}

.mohit-navBar-link {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: var(--website-text);
    transition: scale 0.2s;
}
.mohit-navBar-link:hover {
    scale: 1.05;
    text-decoration: underline;
}

.mohit-navBar-statusIcon {
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: var(--website-light-text);
    border: 1px solid var(--website-light-text);;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, box-shadow 0.2s;
}
.mohit-navBar-statusIcon:hover {
    scale: 1.05;
    box-shadow: 0px 0px 2px 1px;
}

.mohit-navBar-statusIcon svg {
    width: 14px;
}
.mohit-navBar-statusIcon.wakelock {
    color: var(--vibrant-flame);
    border-color: var(--vibrant-flame);
}
.mohit-navBar-statusIcon.yellow {
    color: var(--lightning-yellow);
    border-color: var(--lightning-yellow);
}
.mohit-navBar-statusIcon.share {
    background-color: rgba(0, 0, 0, 1);
}

.mohit-navBar-loadingWidget {
    cursor: default !important;
    width: fit-content;
    height: 18px;
    padding: 0px 3px;
    border: 2px solid var(--blue-one);
    color: var(--blue-one);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    user-select: none;
}
.mohit-navBar-loadingWidget.script {
    color: var(--script-page-main-color);
    border-color: var(--script-page-main-color);
}

.mohit-navBar-loadingWidget svg { font-size: 12px; }
.mohit-navBar-loadingWidget span { margin-left: 3px; }

/**
 * Below are classes that specifically concern the navigation menus.
 */

.mohit-navMenu {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 325px;
    height: fit-content;
    max-height: calc(100% - 77px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    z-index: 516;
    border: 1px solid var(--website-light-text);
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 1px black;
    overscroll-behavior: contain;
    user-select: none;
}
.mohit-navMenu.flame {
    border-color: var(--vibrant-flame);
}
.mohit-navMenu.doc-metadata {
    border-color: var(--c-color);
    background-color: var(--dark-background);
}

.mohit-navMenu.vertical-overflow {
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
:fullscreen .mohit-navMenu {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-height: calc(100% - 40px);
}

.mohit-navMenu-top {
    padding-bottom: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    user-select: none;
}
.mohit-navMenu-opt {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--website-text);
}

.mohit-navMenu-opt.small-features {
    height: 40px;
    justify-content: space-between;
}
.mohit-navMenu-opt.light {
    color: var(--website-light-text);
    border-color: var(--website-light-text);
}

.mohit-navBar-icons.menu-top { align-items: end; }
.mohit-navBar-icons.menu-top.left { margin-left: 15px; }
.mohit-navBar-icons.menu-top.right { margin-right: 12px; }

.mohit-navMenu-mainOpt {
    cursor: pointer;
    height: 25px;
    width: calc(100% - 52px);
    padding: 0px 6px;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 2px solid;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: var(--default-transition);
    user-select: none;
    color: inherit;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    overflow: hidden;
    gap: 5px
}
.mohit-navMenu-mainOpt:hover {
    background-color: rgba(40, 40, 40);
}

.mohit-navMenu-opt.big {
    height: 40px;
}
.mohit-navMenu-opt.big .mohit-navMenu-mainOpt {
    height: 30px;
    font-size: 15px;
}

.mohit-navMenu-mainOpt img {
    height: 16px;
    user-select: none;
    margin-left: 1px;
}
.mohit-navMenu-mainOpt img.ivue {
    all: unset;
    height: 14px;
    margin-left: 1px;
    user-select: none;
}

.mohit-navMenu-opt.checkbox-opt {
    height: 35px;
}
.mohit-navMenu-checkbox {
    position: relative;
    cursor: pointer;
    width: calc(100% - 50px);
    height: 25px;
    padding: 0px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: inherit;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    transition: background-color 0.2s, scale 0.2s;
}
.mohit-navMenu-checkbox:hover {
    background-color: rgba(40, 40, 40);
    scale: 1.05;
}

.mohit-navMenu-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}
.mohit-navMenu-checkbox-box {
    height: 14px;
    width: 14px;
    border: 2px solid #04ba04;
    border-radius: 5px;
    color: #04ba04;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.25s;
}

.mohit-navMenu-checkbox-box.checked {
    background-color: rgba(255, 255, 255, 0.2);
}
.mohit-navMenu-checkbox-box svg {
    height: 14px;
    width: 14px;
}

.mohit-navMenu-info {
    position: relative;
    cursor: default;
    width: calc(100% - 30px);
    height: fit-content;
    padding: 2px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
    margin-top: 1px;
    user-select: none;
}
.mohit-navMenu-info span.content {
    font-weight: normal;
    letter-spacing: normal;
    color: rgb(221, 221, 221);
    width: 175px;
    max-width: 175px;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
    user-select: none;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.25) 100%);
}

.mohit-navMenu-info.clickable { cursor: pointer; }
.mohit-navMenu-info.clickable:hover { text-decoration: underline; }

.mohit-navMenu-opt-break {
    position: relative;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: var(--website-text);
    margin: 10px 0px;
    border-radius: 10px;
}
.mohit-navMenu.flame .mohit-navMenu-opt-break {
    background-color: var(--vibrant-flame);
}
.mohit-navMenu.doc-metadata .mohit-navMenu-opt-break {
    background-color: var(--c-color);
}

/**
 * This section consist of CSS for specialized sections on the website menus.
 */

.mohit-navMenu-sectionheader {
    position: relative;
    left: 25px;
    height: fit-content;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
    padding-bottom: 2px;
    color: var(--website-text);
}

.mohit-navMenu-volume-meter {
    position: relative;
    left: calc(50% - 140px);
    width: 280px;
    height: 100%;
    color: var(--lightning-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5px;
}
.mohit-navMenu-volume-meter input {
    width: calc(100% - 110px);
    cursor: pointer;
    accent-color: var(--blue-two);
}

.mohit-navMenu-volume-meter button {
    font-size: 14px;
    width: 35px;
    margin-left: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5px;
    transition: scale 0.2s;
}
.mohit-navMenu-volume-meter span {
    position: relative;
    bottom: 0.5px;
    cursor: default;
    user-select: none;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    width: 45px;
    text-align: left;
    margin-left: 10px;
}

.mohit-navMenu-reload-webpage {
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 25px;
    height: 25px;
    color: var(--website-light-text);
    border-top: 1px solid var(--website-light-text);
    border-right: 1px solid var(--website-light-text);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}
.mohit-navMenu-reload-webpage svg {
    width: 12px;
    height: 12px;
    --fa-beat-scale: 1.1;
}

.mohit-navMenu-volume-meter button:hover { scale: 1.1; }
.mohit-navMenu-reload-webpage:hover { background-color: var(--dark-background); }

.metadata-docMenu-focused {
    position: relative;
    margin: 0px auto;
    height: 45px;
    width: calc(100% - 24px);
    border: 2px solid var(--blue-one);
    border-radius: 7px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.metadata-docMenu-focused .top-section {
    height: 24px;
    width: calc(100% - 10px);
    padding: 0px 5px;
    border-bottom: 1px solid var(--blue-one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.metadata-docMenu-focused h3 {
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 0px;
}
.metadata-docMenu-focused p {
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(221, 221, 221);
}

.metadata-docMenu-focused-options {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}
.metadata-docMenu-focused-options button {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    border: 1px solid red;
    border-radius: 4px;
    transition: var(--default-transition);
    user-select: none;
}

.metadata-docMenu-focused-options button.copy {
    color: var(--blue-two);
    border-color: var(--blue-two);
}
.metadata-docMenu-focused-options button > svg {
    width: 10px;
    height: 10px;
}

/**
 * Below contain specific styles like transitions and dynamic dimension rules.
 */

@include dynamic-less-equal-width-rule(700) {
    .mohit-navBar-mainLinks { display: none; }
}
@include dynamic-less-equal-width-rule(600) {
    .mohit-navMenu {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        max-height: calc(100% - 40px);
    }
}
@include dynamic-less-equal-width-rule(550) {
    .mohit-navBar-statusIcon {
        width: 16px;
        height: 16px;
        font-size: 10px;
    }

    .mohit-navBar-status-icons { height: 16px; }
    .mohit-navBar-statusIcon svg { width: 12px; }
}

.navMenu-transition_1-enter-active, .navMenu-transition_1-leave-active {
    transition: opacity 0.5s, top 0.5s !important;
}
.navMenu-transition_1-enter-from, .navMenu-transition_1-leave-to {
    opacity: 0;
    top: 50px;
}
.navMenu-transition_1-enter-to, .navMenu-transition_1-leave-from {
    opacity: 1;
    top: 60px;
}

.navMenu-transition_2-enter-active, .navMenu-transition_2-leave-active {
    transition: transform 0.5s, opacity 0.5s !important;
}
.navMenu-transition_2-enter-from, .navMenu-transition_2-leave-to {
    opacity: 0;
    transform: scale(0.25);
}
.navMenu-transition_2-enter-to, .navMenu-transition_2-leave-from {
    opacity: 1;
    transform: scale(1);
}

.navMenu-checkbox-fade-transition-enter-active, .navMenu-checkbox-fade-transition-leave-active {
    transition: opacity 0.25s;
}
.navMenu-checkbox-fade-transition-enter-from, .navMenu-checkbox-fade-transition-leave-to {
    opacity: 0;
}
.navMenu-checkbox-fade-transition-enter-to, .navMenu-checkbox-fade-transition-leave-from {
    opacity: 1;
}

.mohit-navMenu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 30px;
    background: transparent;
}
.mohit-navMenu::-webkit-scrollbar-thumb {
    background-color: var(--website-text);
    border-radius: 30px;
    transition: background-color 0.2s;
}
.mohit-navMenu::-webkit-scrollbar-thumb:hover {
    background-color: var(--website-light-text);
}
.mohit-navMenu::-webkit-scrollbar-button {
    display: none;
}