.main-nav-page-container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.main-nav-page {
    width: 1100px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-page-title {
    padding: 15px;
    padding-bottom: 0px;
    width: calc(100% - 30px);
    height: fit-content;
    text-align: center;
    font-size: 60px;
    font-family: 'Lexend', sans-serif;
    color: var(--website-text);
    font-weight: bold;
    text-shadow: var(--website-text) 1px 0 30px;
}
.nav-page-title.project {
    color: var(--globe-green-light);
    text-shadow: var(--globe-green) 1px 0 30px;
}

@media (max-width: 1099px) and (min-width: 651px) {
    .main-nav-page {
        width: 750px;
        grid-template-columns: repeat(2, 1fr);
    }
    #third-nav-card {
        position: relative;
        left: 50%;
    }
}
@media (max-width: 749px) {
    .main-nav-page {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .nav-page-title {
        font-size: 42px;
    }
}
@media (min-width: 1450px) {
    .main-nav-page.extra-column {
        grid-template-columns: repeat(4, 1fr);
        width: 1450px;
    }
}

/**
 * These styles are for "incomplete" pages.
 */

.personal-web-body#invalid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100vh - 70px);
    padding: 0px 20px;
    padding-top: 60px;
    background: transparent;
}
.incomplete-title {
    font-size: 60px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--website-dark-text);
    background-color: rgba(248, 206, 171, 0.9);
}

.incomplete-subtitle {
    font-size: 20px;
    font-family: "Roboto", "Lexend", sans-serif;
    color: var(--website-text);
    margin-bottom: 10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
}

@media (max-width: 600px) {
    .incomplete-title {
        font-size: 42px;
    }
}