.main-nav-page-container {
    width: 100%;
    height: fit-content;
    min-height: var(--true-100vh, 100vh);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.main-nav-page {
    width: 1100px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-page-title {
    padding: 15px;
    padding-bottom: 0px;
    width: calc(100% - 30px);
    height: fit-content;
    text-align: center;
    font-size: 60px;
    font-family: 'Lexend', sans-serif;
    color: var(--website-text);
    font-weight: bold;
    text-shadow: var(--website-text) 1px 0 30px;
}
.nav-page-title.project {
    color: var(--globe-green-light);
    text-shadow: var(--globe-green) 1px 0 30px;
}

@media (max-width: 1100px) and (min-width: 650px) {
    .main-nav-page {
        width: 750px;
        grid-template-columns: repeat(2, 1fr);
    }
    #third-nav-card {
        position: relative;
        left: 50%;
    }
}
@media (max-width: 750px) {
    .main-nav-page {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .nav-page-title {
        font-size: 42px;
    }
}
@media (min-width: 1450px) {
    .main-nav-page.extra-column {
        grid-template-columns: repeat(4, 1fr);
        width: 1450px;
    }
}