.web-navBar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: var(--nav-bar-background);
    border-bottom: 1px solid var(--nav-bar-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.web-navBar-links-section {
    width: 500px;
    justify-content: space-evenly;
    height: 100%;
}
.web-navBar-links-side {
    display: flex;
    width: 160px;
    height: 100%;
}

.web-navBar-opt {
    cursor: pointer;
    text-decoration: none;
    color: var(--website-text);
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
    padding: 5px;
    border-radius: 5px;
    border-bottom: var(--empty-border);
    transition: var(--default-transition);
    font-family: 'Lexend', sans-serif;
}
.web-navBar-opt:hover {
    border-color: var(--website-text);
    background-color: var(--translucent-background);
}

.web-navBar-side {
    height: 100%;
    width: fit-content;
    padding: 0px;
    border: none;
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px 5px;
}
.web-navBar-routeIcon-container {
    width: 50px;
    padding: 0px;
}

@media (max-width: 340px) {
    .web-navBar {
        position: absolute;
    }
}

/**
 * These are classes that work on top of the Nav Bar classes for the Globe Bar.
 */

.globe-bar {
    position: absolute;
    top: auto;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid var(--website-text);
    justify-content: center;
    z-index: 10;
}

.globe-bar-opt-text {
    display: block;
    margin-left: 7px;
}

@media (max-width: 575px) {
    .globe-bar-opt-text {
        display: none;
    }
    .globe-bar-opt {
        padding: 7px calc(10% - 3px);
        font-size: 25px;
    }
}