.web-personal-footer {
    height: 400px;
    width: 100%;
    background: var(--sector-background);
    text-shadow: 2px 2px 4px var(--footer-text-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.web-footer-column {
    position: relative;
    height: fit-content;
    width: 275px;
    left: calc((100% - 275px) / 2);
    padding-bottom: 30px;
}

.web-footer-title-dimensions {
    height: 75px;
    width: 100%;
    text-align: center;
}
.web-footer-title {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--website-text);
}

.web-footer-text-container {
    width: 100%;
    height: 40px;
    padding-top: 10px;
}
.web-footer-text {
    text-shadow: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    padding: 7px;
    border: var(--empty-border);
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;
    text-align: left;
    font-weight: bold;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    transition: var(--default-transition);
}
.web-footer-text:hover {
    border-color: var(--website-text)
}

.web-footer-picture {
    position: relative;
    height: 53px;
    width: 132px;
    left: calc((100% - 154px) / 2);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--nav-bar-border);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    .web-personal-footer {
        grid-template-columns: 1fr;
        height: 900px;
    }
}