.main-content-sector {
    width: 100%;
    height: auto;
    background-color: var(--sector-background);
}

.main-sector-title {
    position: relative;
    height: 100px;
    font-size: 40px;
    width: 350px;
    padding: 5px;
    left: calc((100% - 350px) / 2);
}

.main-sector-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}
.main-sector-body-grid {
    position: relative;
    width: 300px;
    left: calc((100% - 300px) / 2);
}
.main-contacts-sector {
    grid-template-columns: 1fr 1fr;
}

.main-sector-subtitle {
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid var(--website-text);
    margin-bottom: 10px;
    color: var(--website-text);
}

.main-sector-point-container {
    width: fit-content;
    text-decoration: none;
    margin-bottom: 2px;
    height: 30px;
    justify-content: left;
    font-size: 20px;
    padding: 0px 5px;
    border-radius: 5px;
    transition: var(--default-transition);
}
.main-sector-point-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-sector-point-label {
    font-weight: bold;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 7px;
    text-decoration: none;
}

.main-sector-bottom-linkBtn-container {
    height: 75px;
    width: 100%;
}
.main-sector-bottom-linkBtn {
    cursor: pointer;
    height: 45px;
    width: 250px;
    color: var(--website-text);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: var(--empty-border);
    background-color: var(--website-light-text);
    transition: var(--default-transition);
}
.main-sector-bottom-linkBtn:hover {
    border-color: var(--website-text);
}

@media (min-width: 626px) and (max-width: 900px) {
    .main-sector-body {
        grid-template-columns: 1fr 1fr;
    }
    .main-sector-body-grid {
        margin-bottom: 20px;
    }
}

@media (max-width: 625px) {
    .main-sector-body {
        grid-template-columns: 1fr;
    }
    .main-sector-body-grid {
        margin-bottom: 20px;
    }
}

/**
 * This section contains styles specific for the General Page Sector.
 */

.page-sector {
    position: relative;
    left: calc(5% - 6px);
    width: 90%;
    height: 800px;
    padding: 20px 0px;
    margin: 50px 0px;
    border: 3px solid var(--website-text);
    border-radius: 20px;
}
.page-sector-half {
    width: 50%;
    max-width: 1250px;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.page-sector-title {
    font-size: 55px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(7, 89, 197);
}
.page-sector-desc {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    color: rgb(7, 89, 197);
}

.page-sector-btn-container {
    margin-top: 20px;
    padding: 12px 20px;
    height: fit-content;
    width: fit-content;
}
.page-sector-btn {
    cursor: pointer;
    width: fit-content;
    padding: 12px 20px;
    border: 2px solid;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: padding 0.2s, background-color 0.2s;
}
.page-sector-btn:hover {
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.15);
}

.page-sector-img {
    width: 70%;
}

@media (max-width: 625px) {
    .page-sector {
        left: calc(7.5% - 6px);
        width: 85%;
    }
    .page-sector-btn {
        font-size: 16px;
    }
}