:root {
    --body-height: calc(100vh - 50px);

    --blue-one: rgb(159, 191, 255);
    --blue-two: rgb(117, 163, 255);
    --blue-three: rgb(67, 130, 255);
    --blue-four: rgb(82, 139, 252);
    --blue-five: rgb(82, 3, 239);

    --silver-color: #adadad;
    --silver-light: #e4e2e2;

    --website-text: rgb(126, 90, 0);
    --website-light-text: rgb(198, 147, 19);
    --website-gradient-text: linear-gradient(to left, rgb(126, 90, 0) 0%, rgb(198, 147, 19) 50%, rgb(126, 90, 0) 100%);

    --nav-bar-background: linear-gradient(to bottom, rgb(255, 115, 0) 0%, rgb(248, 206, 171) 100%);
    --nav-bar-border: rgb(255, 115, 0);
    --webpage-background: linear-gradient(to top, rgb(255, 115, 0) 0%, rgb(248, 206, 171) 100%);
    --webpage-static-background: rgb(248, 206, 171);

    --translucent-background: rgba(255, 255, 255, 0.25);
    --sector-background: rgba(0, 0, 0, 0);
    --dark-translucent-background: rgba(0, 0, 0, 0.15);

    --empty-border: 2px solid rgba(0, 0, 0, 0);
    --thin-empty-border: 1px solid rgba(0, 0, 0, 0);
    --default-transition: border 0.2s, color 0.2s, background-color 0.2s;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 350px;
    top: 0;
    left: 0;
    overflow: auto;
}

a, RouterLink {
    text-decoration: none;
    color: inherit;
    border-color: inherit;
}
iframe {
    border: none;
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Calibri', sans-serif;
    color: var(--website-text);
}

.personal-web-body {
    position: absolute;
    top: 50px;
    height: auto;
    min-height: calc(100% - 50px);
    width: 100%;
    min-width: 340px;
    background: var(--webpage-background);
}
.center-flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text {
    background: var(--website-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.main-line {
    width: 100%;
    height: 2px;
    background-color: var(--nav-bar-border);
}

.webpage-cover {
    margin: 0;
    padding: 0;
    position: absolute;
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 350px;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.75);
}

.main-sector-bottom-linkBtn-container {
    height: 75px;
    width: 100%;
}
.main-sector-bottom-linkBtn {
    cursor: pointer;
    height: 45px;
    width: 250px;
    color: var(--website-text);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend', 'Roboto', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: var(--empty-border);
    background-color: var(--website-light-text);
    transition: var(--default-transition);
}
.main-sector-bottom-linkBtn:hover {
    border-color: var(--website-text);
}

/**
 * These are styles meant specifically for a more dynamic info sector page.
 */

 .info-sector-v2, .info-sector-v3 {
    position: relative;
    width: calc(100% - 40px) !important;
    left: 40px;
}
.personal-web-body-v2, .personal-web-body-v3 {
    top: 0px;
    height: 100%;
}

@media (min-width: 2000px) {
    .info-sector-v2 {
        transform: scale(1.5, 1.5);
    }
    .personal-web-body-v2 {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (max-width: 600px) {
    .info-sector-v2, .info-sector-v3 {
        width: 100% !important;
        left: 0;
        top: 45px;
    }
}