/**
 * This section defines the styles for the navigation bar at the top of every page.
 */

#mohit-navBar {
    all: unset;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 490;
    border-bottom: 2px solid var(--website-text);
    overflow: hidden;
    transition: box-shadow 0.5s;
    touch-action: pan-y;
}

.mohit-navBar-top {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.mohit-navBar-banner {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, box-shadow 0.2s;
    border-radius: 7px;
}

.mohit-navBar-banner img {
    user-select: none;
    width: 35px;
}
.mohit-navBar-banner:hover {
    scale: 1.05;
    box-shadow: 0px 0px 7px 0px white;
}

.mohit-navBar-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.mohit-navBar-icons.left {
    margin-left: 10px;
}
.mohit-navBar-icons.right {
    margin-right: 10px;
}

.mohit-navBar-icon {
    cursor: pointer;
    width: 34px;
    height: 34px;
    color: var(--website-text);
    border: 1px solid var(--website-text);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}
.mohit-navBar-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mohit-navBar-icon.light {
    color: var(--website-light-text);
    border-color: var(--website-light-text);
}
.mohit-navBar-icon.white {
    color: white;
    border-color: white;
}
.mohit-navBar-icon.red {
    color: red;
    border-color: red;
}
.mohit-navBar-icon img {
    user-select: none;
    width: 23px
}

.mohit-navBar-mainLinks {
    position: absolute;
    top: 0px;
    left: calc(50% - 180px);
    width: 360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.mohit-navBar-status-icons {
    position: fixed;
    top: 50px;
    left: 0px;
    width: fit-content;
    padding: 6px 10px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    background-color: black;
    z-index: 491;
    border-right: 2px solid var(--website-text);
    border-bottom: 2px solid var(--website-text);
    border-bottom-right-radius: 5px;
}

.mohit-navBar-link {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: var(--website-text);
    transition: scale 0.2s;
}
.mohit-navBar-link:hover {
    scale: 1.05;
    text-decoration: underline;
}

.mohit-navBar-statusIcon {
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: var(--website-light-text);
    border: 1px solid var(--website-light-text);;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, box-shadow 0.2s;
}
.mohit-navBar-statusIcon:hover {
    scale: 1.05;
    box-shadow: 0px 0px 2px 1px;
}

.mohit-navBar-statusIcon svg {
    width: 14px;
}
.mohit-navBar-statusIcon.wakelock {
    color: var(--vibrant-flame);
    border-color: var(--vibrant-flame);
}

/**
 * Below are classes that specifically concern the navigation menus.
 */

.mohit-navMenu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 325px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    z-index: 516;
    border-left: 1px solid var(--website-light-text);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mohit-navMenu-top {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.mohit-navMenu-opt {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--website-text);
}
.mohit-navMenu-opt.small-features {
    height: 40px;
    justify-content: space-between;
}
.mohit-navMenu-opt.light {
    color: var(--website-light-text);
    border-color: var(--website-light-text);
}

.mohit-navMenu-mainOpt {
    cursor: pointer;
    background-color: rgba(20, 20, 20);
    height: 25px;
    width: calc(100% - 42px);
    padding: 0px 6px;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    transition: var(--default-transition);
    user-select: none;
    color: inherit;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
}
.mohit-navMenu-mainOpt:hover {
    background-color: rgba(40, 40, 40);
}

.mohit-navMenu-opt.big {
    height: 40px;
}
.mohit-navMenu-opt.big .mohit-navMenu-mainOpt {
    height: 30px;
    font-size: 15px;
}

.mohit-navMenu-mainOpt img {
    height: 16px;
    user-select: none;
    margin-left: 3px;
}

.mohit-navMenu-opt-break {
    position: relative;
    left: 25px;
    width: calc(100% - 50px);
    height: 2px;
    background-color: var(--website-text);
    margin: 10px 0px;
}
.mohit-navMenu-sectionheader {
    position: relative;
    left: 25px;
    height: fit-content;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
    padding-bottom: 2px;
    color: var(--website-text);
}

.mohit-navMenu-volume-meter {
    position: relative;
    left: calc(50% - 140px);
    width: 280px;
    height: 100%;
    color: var(--lightning-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5px;
}
.mohit-navMenu-volume-meter input {
    width: calc(100% - 110px);
    cursor: pointer;
}

.mohit-navMenu-volume-meter button {
    font-size: 15px;
    width: 35px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5px;
}
.mohit-navMenu-volume-meter span {
    position: relative;
    bottom: 0.5px;
    cursor: default;
    user-select: none;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    width: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
 * Below contain specific styles like transitions and @media sections.
 */

@media (max-width: 700px) {
    .mohit-navBar-mainLinks { display: none; }
}
@media (max-width: 550px) {
    .mohit-navBar-status-icons {
        height: 16px;
    }
    .mohit-navBar-statusIcon {
        width: 16px;
        height: 16px;
        font-size: 10px;
    }
    .mohit-navBar-statusIcon svg {
        width: 12px;
    }
}

.navMenu-transition-enter-active, .navMenu-transition-leave-active {
    transition: opacity 0.5s, right 0.5s;
    transition-delay: 0.05s;
}
.navMenu-transition-enter-from, .navMenu-transition-leave-to {
    opacity: 0;
    right: -325px;
    overflow-y: hidden;
}
.navMenu-transition-enter-to, .navMenu-transition-leave-from {
    opacity: 1;
    right: 0px;
    overflow-y: hidden;
}

.mohit-navMenu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 30px;
    background: transparent;
}
.mohit-navMenu::-webkit-scrollbar-thumb {
    background-color: var(--website-text);
    border-radius: 30px;
    transition: background-color 0.2s;
}
.mohit-navMenu::-webkit-scrollbar-thumb:hover {
    background-color: var(--website-light-text);
}
.mohit-navMenu::-webkit-scrollbar-button {
    display: none;
}