.skills-note {
    height: 400px;
    width: 360px;
    border: 3px solid var(--website-light-text);
    border-radius: 20px;
    overflow: hidden;
    transition: var(--default-transition);
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.25);
    --animate-duration: 0.7s;
}

.skills-note:hover {
    border-color: var(--website-text);
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
}
.skills-note.no-link {
    cursor: default;
}

.skills-note-image {
    height: 147px;
    width: 100%;
    border-bottom: 3px solid var(--website-light-text);
    background-color: var(--silver-light);
    transition: var(--default-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-note:hover .skills-note-image {
    border-color: var(--website-text);
}
.skills-note-image svg, .skills-note-image img {
    user-select: none;
}

.skills-note-body {
    height: calc(100% - 160px);
    width: calc(100% - 20px);
    padding: 10px 10px 0px;
    text-align: left;
    font-family: 'Lexend', sans-serif;
}
.skills-note-body.more-info {
    color: var(--website-light-text);
    transition: var(--default-transition);
}
.skills-note:hover .skills-note-body.more-info {
    color: var(--website-text);
}

.skills-note-moreInfo-icon {
    color: var(--website-light-text);
    transition: var(--default-transition);
    font-size: 110px;
}
.skills-note:hover .skills-note-image .skills-note-moreInfo-icon {
    color: var(--website-text);
}

.skills-note-header {
    font-size: 35px;
    color: inherit;
    margin-bottom: 12px;
}
.skills-note-desc {
    font-size: 16px;
    color: inherit;
}

@media (max-width: 450px) {
    .skills-note {
        width: 325px;
    }
}