#update-body {
    background: var(--webpage-static-background);
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: 450px calc(100% - 450px);
}
.update-menu {
    width: calc(100% - 3px);
    height: calc(100% - 5px);
    border: 3px solid var(--nav-bar-border);
    border-top-width: 2px;
    border-left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.update-menu-title {
    background: var(--webpage-static-background);
    position: sticky;
    top: 0;
    padding: 10px 0px;
    width: 100%;
    border-bottom: 2px solid var(--website-text);
    z-index: 2;
}
.update-menu-tab-container {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.update-menu-tab {
    width: calc((7/8) * 100%);
    height: fit-content;
    min-height: 55px;
    border: 2px solid var(--website-text);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.update-menu-tab-main {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-menu-tab-header {
    margin-left: 15px;
    cursor: pointer;
}
.update-menu-tab-arrow {
    cursor: pointer;
    color: var(--website-text);
    font-size: 25px;
    margin-right: 15px;
}

.update-menu-topics-list {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}
.update-menu-topic {
    cursor: pointer;
    color: var(--website-text);
    width: fit-content;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Calibri', sans-serif;
    margin: 10px 0px;
    margin-left: 35px;
}
.update-menu-topic:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) and (min-width: 841px) {
    #update-body {
        grid-template-columns: 340px calc(100% - 340px);
    }
}
@media (max-width: 840px) {
    #update-body {
        grid-template-columns: 1fr;
    }
    .update-menu {
        width: 100%;
        height: calc(100% - 2px);
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

/**
 * These are the styles for the Update Content
 */

.update-content {
    width: 100%;
    height: 100%;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.update-log-content {
    width: calc(100% - 50px);
    padding: 0px 25px;
}

.update-content-title {
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    padding: 3px 5px;
    padding-top: 20px;
    border-bottom: 2px solid var(--website-text);
    border-radius: 5px;
}
.update-content-mainDesc {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
    max-width: 800px;
}
.update-content-date {
    padding-top: 3px;
    font-size: 15px;
    font-weight: bold;
}

.update-log-topic {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
}
.update-log-topic-header {
    width: fit-content;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
}

.update-log-topic-desc {
    max-width: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding-bottom: 10px;
}
.update-log-iframe {
    height: 600px;
    transform: scale(0.9, 0.9);
    width: 100%;
    position: relative;
    right: 5%;
}

.update-log-component {
    left: auto;
}

@media (min-width: 1350px) {
    .update-log-content {
        position: relative;
        left: 50px;
        width: calc(100% - 100px)
    }
}

@media (max-width: 1350px) {
    .update-log-component {
        width: 100%;
    }
    .update-log-iframe {
        transform: none;
        right: 0;
    }
}