.globe-menu-container {
    position: absolute;
    left: calc((100% - 364px) / 2);
    bottom: 65px;
    background: var(--webpage-background);
    height: auto;
    width: 300px;
    padding: 30px;
    z-index: 4;
    border: 2px solid var(--nav-bar-border);
    border-radius: 20px;
    overflow: hidden;
}

.globe-menu-title {
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--website-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.globe-menu-xMark {
    cursor: pointer;
    width: 20px;
    height: 30px;
    padding: 5px;
    border: 2px solid var(--nav-bar-border);
    border-radius: 10px;
    transition: var(--default-transition);
}
.globe-menu-xMark:hover {
    border-color: var(--website-text);
}

.wrapper-menu-styles {
    border-radius: 20px;
    border: 2px solid var(--nav-bar-border);
    background: var(--nav-bar-background);
}

.globe-menu-body {
    overflow: hidden;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid var(--nav-bar-border);
    background: var(--translucent-background);
}

.globe-menu-btn-container {
    height: 75px;
    width: 100%;
}
.globe-menu-btn {
    cursor: pointer;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: var(--website-text);
    padding: 10px 15px;
    border: 2px solid var(--website-text);
    border-radius: 15px;
    transition: var(--default-transition);
}
.globe-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.points-menu-tab {
    display: flex;
    cursor: pointer;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid var(--nav-bar-border);
    transition: var(--default-transition);
}
.points-menu-tab:hover {
    background-color: var(--sector-background);
}

.point-menu-tab-half {
    width: 50%;
    height: 100%;
}
.point-menu-tab-location {
    width: 100px;
    height: auto;
    text-align: center;
    color: var(--website-text);
    font-family: 'Trebuchet MS', 'Calibri', sans-serif;
    font-weight: bold;
}

/**
 * These are special CSS classes for the globe menus.
 */

.globeMenuTransition-enter-active, .globeMenuTransition-leave-active {
    transition: opacity 0.5s;
}
.globeMenuTransition-enter-from, .globeMenuTransition-leave-to {
    opacity: 0;
}
.globeMenuTransition-enter-to, .globeMenuTransition-leave-from {
    opacity: 1;
}

@media (max-width: 500px) {
    .globe-menu-container {
        width: 100%;
        left: 0%;
        bottom: 50px;
        padding: 30px 0px;
        border: 0px solid;
        border-radius: 0px;
    }
    .wrapper-menu-styles {
        left: calc((100% - 300px) / 2);
    }

    .globe-menu-title {
        position: relative;
        left: calc((100% - 300px) / 2);
    }
    .globe-menu-body {
        position: relative;
        left: calc((100% - 300px) / 2);
    }
}