#mohit-website-globe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
}

#mohit-website-geocoder {
    position: absolute;
    top: 10px;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.cesium-geocoder-input {
    width: 70%;
    min-width: 325px;
    text-align: center;
    background: var(--nav-bar-background);
    padding: 10px;
    border: 2px solid var(--nav-bar-border);
    border-radius: 10px;
    color: var(--website-text);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    transition: border 0.2s, padding 0.2s;
    outline: none;
}
.cesium-geocoder-input:hover {
    border-color: var(--website-text);
    padding: 15px;
}

#mohit-website-geocoder ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 10px 0px;
}

#mohit-website-geocoder li {
    position: relative;
    color: white;
    width: 60%;
    min-width: 300px;
    list-style-type: none;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    border: 2px solid var(--nav-bar-border);
    letter-spacing: 1px;
    background: var(--nav-bar-background);
    margin-top: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 10px;
    transition: border 0.2s, padding 0.2s;
}
#mohit-website-geocoder li:hover {
    border: 2px solid var(--website-text);
    padding: 15px;
}

.cesium-geocoder-searchButton {
    display: none;
}
.cesium-viewer-bottom {
    display: none;
}

.search-results {
    position: relative;
    width: 100%;
}

.cesium-geocoder-input::placeholder {
    color: var(--website-text);
    font-weight: 500;
}